{% extends 'base.html' %}

{% block content %}
<a href="{% url 'home' %}">Home</a></li>

<h1>Blog Posts</h1>
{% for post in posts %}
<div class="row">
    <div class="column" style="background-color:#ddd;">
        <h3>{{ post.title }} by {{ post.author.first_name }}</h3>
        <a href="{{ post.get_absolute_url }}">Read more</a>
</div>
<br>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}